body {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#title {
  position: absolute;
  top: 5%;
  left: 44%;
  font-size: 30px;
  font-weight: bold;
}

#user {
  position: absolute;
  top: 13%;
  left:10%;
  height: 80%;
  width: 38%;
  padding: 10px;
  background-color: rgb(230, 230, 230);
}

#pc {
  position: absolute;
  top: 13%;
  right: 10%;
  height: 80%;
  width: 38%;
  padding: 10px;
  background-color: rgb(230, 230, 230);
}

#pc_txt {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 20px;
  color: rgb(100,100,100);
  font-weight: bold;
}

#your_txt {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 20px;
  color: rgb(100,100,100);
  font-weight: bold;
}

#pinBox {
  position: absolute;
  left: 30%;
  top: 10%;
}

#pcBox {
  position: absolute;
  left: 30%;
  top: 10%;
}

.num {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(250, 250, 250);
  border-color: rgb(235, 235, 235);
}

.dynamic {
  width: 350px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(250, 250, 250);
}
